<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .header {
      text-align: center;
      padding: 10px 0;
    }

    .header h1 {
      margin: 0;
      color: #4CAF50;
    }

    .content {
      margin-top: 20px;
    }

    .content p {
      line-height: 1.6;
    }

    .details {
      margin-top: 10px;
      background-color: #f1f1f1;
      padding: 10px;
      border-radius: 5px;
    }

    .details p {
      margin: 5px 0;
    }

    .footer {
      text-align: center;
      margin-top: 20px;
      font-size: 0.9em;
      color: #777;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1><%= title %></h1>
    </div>
    <div class="content">
      <p>Hi Admin,</p>
      <p>I hope this message finds you well.</p>
      <p>I wanted to inform you that a new user has just signed up on our platform. Here are the details of the new user:</p>
      <div class="details">
        <p><strong>Email Address:</strong><%= email %></p>
        <% if (typeof first_name !== 'undefined') { %>
          <p><strong>First Name:</strong><%= first_name %></p>
        <% } %>
        <% if (typeof last_name !== 'undefined') { %>
          <p><strong>Last Name:</strong><%= last_name %></p>
        <% } %>
        <% if (typeof phone !== 'undefined') { %>
          <p><strong>Phone Number:</strong><%= phone %></p>
        <% } %>
        <% if (typeof birthday !== 'undefined') { %>
          <p><strong>Birth Day:</strong><%= birthday %></p>
        <% } %>
        <p><strong>Sign-Up Date and Time:</strong><%= created_at %></p>
      </div>
      <p>Please let me know if there is any additional information you need or any specific actions that should be taken regarding this new sign-up.</p>
    </div>
    <div class="footer">
      <p>Best regards</p>
    </div>
  </div>
</body>

</html>